

.tree_table{
	border: 1px solid #BBBBBB;
	border-collapse: collapse;	
}
.title_tr{height: 30px;}
.tool_title_td{text-align: center;vertical-align: bottom;}
.tool_title_div{font-size: 16px;font-weight: bolder;}
.log_tr{border: 1px solid #BBBBBB;}
	
.log_td{border: 1px solid #BBBBBB;text-align: center;vertical-align: bottom;}
.tool_tr{height: 20px;}
.log_page{
	border: 1px solid #BBBBBB;
}
.node_table{
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
	width: 270px;
	height: 240px;
}
.node_tr{border: 1px solid #BBBBBB;height: 24px;}
.node_tr td{border: 1px solid #BBBBBB;}
.node_td_name{text-align: right;width: 100px;padding-right: 3px;}
.node_td_input{text-align: left;width: 150px;padding-left: 0px;}
.node_td_input input{width: 97%;border: 0px;padding-left: 3px;border-bottom: 0px solid #BBBBBB;}







